{% extends 'app/patient_page.html' %}

{% block home_click %}{% url "app:patient" %}{% endblock %}
{% block profile_active %} active {% endblock %}

{% block tab_content %}
{% if not success %}
    <div class="ui left aligned ms-5" >
        <form class="ui form doc-cred-form" action="" method="POST" autocomplete="off">
            {% csrf_token %} 
            <div class="ui horizontal divider" style="margin-top: 28px"  >Update Profile Credentials</div>
            <div style="padding:14px;">
                <div class="field required mt-5">
                    <label>Username</label>
                    <input type="text" name="username" value="{{obj.username}}" placeholder="Username" required autocomplete="off">
                </div>
                <div class="field required mt-5">
                    <label>New Password</label>
                    <input type="password" name="new_password"  pattern=".{6,}" title="Needs to be atleast 6 characters long." placeholder="Password" required autocomplete="off">
                </div>
                <div class="field required mt-5">
                    <label>Confirm New Password</label>
                    <input type="password" name="confirm_password"  pattern=".{6,}" title="Needs to be atleast 6 characters long." placeholder="Password" required autocomplete="off">
                </div>
                <div class="ui error message"></div>
                {% if confirm_invalid %}
                    <div class="ui negative message">
                        <p> Password donot match. Please try again.  </p>
                    </div>
                {% endif %}
                {% if password_invalid %}
                    <div class="ui negative message">
                        <p> Old Password is incorrect. Please try again.  </p>
                    </div>
                {% endif %}
                {% if user_error %}
                    <div class="ui negative message">
                        <p> Username is unavaliable.  </p>
                    </div>
                {% endif %}
            </div>
            <div class="ui horizontal divider" >
                Credential
            </div>
            <div style="padding: 14px">
                <div class="field required">
                    <label>Old Password</label>
                    <input type="password" name="old_password"  pattern=".{6,}" title="Needs to be atleast 6 characters long." placeholder="Password" required autocomplete="off">
                </div>
                <div style="display:flex; justify-content:center;">
                    <button class="ui teal button"type="submit" style="margin-top: 5px; background-color: #5174D5; color: white; font-weight: bolder;">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endif %}

{% if success %}
    <div class="ui center aligned basic segment" style="margin-top: 60px;">
        <h1 class="ui icon header">
            <i class="check circle huge icon"></i>
            Success
        </h1>
        <div class="ui horizontal divider" style="margin-top: 55px;">
            &nbsp;
        </div>
        <div>
            <a class="ui teal button" type="submit" autofocus href="{% url "app:patient" %}" >
                Return
            </a>
        </div>
    </div>
{% endif %}

{% endblock %}