{% extends 'app/patient_page.html' %}

{% block home_click %}{% url "app:patientnotif" %}{% endblock %}
{% block notification_active %} active {% endblock %}
{% block right_menu%}
    <div class="ui simple dropdown item">
        General Actions
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item"  href="{% url 'app:patienteditinfo' %}" >Update Info</a>
            <a class="item"  href="{% url 'app:patienteditcred' %}" >Change Password</a>
        </div>
    </div>
{% endblock %}
{% block tab_content %}
    {% include './components/notifications.html' %}
{% endblock %}